---
import Layout from "@/layout.astro";

const skethes = await Astro.glob("@/pages/sketches/*/index.astro");
---

<Layout title="Home">
  {
    skethes
      .filter(({ url }) => url !== undefined)
      .map(({ url }) => (
        <>
          <a href={url}>{url}</a>
        </>
      ))
  }
</Layout>
