---
import Layout from "@/layout.astro";

const skethes = await Astro.glob("@/pages/sketches/*/index.astro");
---

<Layout title="Home">
  <ul>
    {
      skethes
        .filter(({ url }) => url !== undefined)
        .map(
          ({ url }) =>
            url && (
              <li>
                <a href={url}>{url.split("/").at(-1)}</a>
              </li>
            ),
        )
    }
  </ul>
</Layout>
