---
import ScrollLock from "@/components/scroll-lock";
import Layout from "@/layout.astro";
---

<Layout>
  <ScrollLock />
  <div id="root"></div>
</Layout>

<script>
  import p5 from "p5";
  import { sketch } from "./sketch";

  const root = document.getElementById("root");
  if (root) {
    new p5(sketch, root);
  }
</script>
