---
interface Props {
  title?: string;
}

const { title } = Astro.props;
const siteTitle = title ?? Astro.url.pathname.split("/").at(-1);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{siteTitle}</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />

    <style is:global>
      body {
        margin: 0;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
